﻿@model IEnumerable<InventoryManagement.Models.SupplierPriceListDTO>

<div class="padding-md clearfix">
    <table class="table table-striped" id="dataTable">
        <tr>
            <th>SupplierId</th>
            <th>Brand</th>
            <th>Freezing Type</th>
            <th>Variety</th>
            <th>Specie</th>
            <th>Packing Type</th>
            <th>Product Form</th>
            <th>Type</th>
            <th>Grade</th>
            <th>Ply</th>
            <th>Category</th>
            <th>Core Type</th>
            <th>Soaked</th>
            <th>Packing Count</th>
            <th>Vender Units</th>
            <th>Expected Days</th>
            <th></th>            
        </tr>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr class="tremployers">
                    <td>
                        @item.SupplierId
                    </td>
                    <td>
                        @item.ProductId
                    </td>
                    <td>
                        @item.Brand
                    </td>
                    <td>
                        @item.FreezingType 
                    </td>
                    <td>
                        @item.Variety 
                    </td>
                    <td>
                        @item.Specie 
                    </td>
                    <td>
                        @item.PackingType 
                    </td>
                    <td>
                        @item.ProductForm 
                    </td>
                    <td>
                        @item.Type 
                    </td>
                    <td>
                        @item.Grade 
                    </td>
                    <td>
                        @item.Ply 
                    </td>
                    <td>
                        @item.Category 
                    </td>
                    <td>
                        @item.CoreType 
                    </td>
                    <td>
                        @item.Soaked 
                    </td>
                    <td>
                        @item.PackingCount 
                    </td>
                    <td>
                        @item.VenderUnits 
                    </td>
                    <td>
                        @item.ExpectedDays 
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }
        }
    </table>
</div>

